<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","theme":"miyazakifarm","tagName":"header","align":"full","className":"header --transparent"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"main"} -->
<main class="wp-block-group alignfull main"><!-- wp:template-part {"slug":"section-hero","theme":"miyazakifarm","tagName":"section","className":"hero"} /-->

<!-- wp:template-part {"slug":"section-news","theme":"miyazakifarm","tagName":"section","className":"news"} /-->

<!-- wp:template-part {"slug":"section-about-taste","theme":"miyazakifarm","tagName":"section","className":"section"} /-->

<!-- wp:template-part {"slug":"section-about-rice","theme":"miyazakifarm","tagName":"section","className":"section"} /-->

<!-- wp:template-part {"slug":"section-about-us","theme":"miyazakifarm","tagName":"section","className":"section"} /-->

<!-- wp:template-part {"slug":"section-products","theme":"miyazakifarm","tagName":"section","className":"section"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center","style":{"typography":{"textTransform":"capitalize"}}} -->
<h2 class="wp-block-heading has-text-align-center" id="news" style="text-transform:capitalize"><strong>ブログ</strong></h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":19,"query":{"perPage":5,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false,"taxQuery":{"category":[7]}},"metadata":{"categories":["posts"],"patternName":"core/query-grid-posts","name":"グリッド"}} -->
<div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"30px","right":"15px","bottom":"30px","left":"15px"}}},"layout":{"inherit":false}} -->
<div class="wp-block-group" style="padding-top:30px;padding-right:15px;padding-bottom:30px;padding-left:15px"><!-- wp:post-featured-image /-->

<!-- wp:post-title {"level":3,"isLink":true,"fontSize":"large"} /-->

<!-- wp:post-date {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|30"}}}} /-->

<!-- wp:post-excerpt {"moreText":"続きを読む"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"miyazakifarm","tagName":"footer","align":"full","className":"footer"} /--></div>
<!-- /wp:group -->