<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","theme":"miyazakifarm","tagName":"header","align":"full","className":"header --transparent"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"main"} -->
<main class="wp-block-group alignfull main"><!-- wp:template-part {"slug":"section-hero","theme":"miyazakifarm","tagName":"section","className":"hero"} /-->

<!-- wp:template-part {"slug":"section-news","theme":"miyazakifarm","tagName":"section","className":"news"} /-->

<!-- wp:template-part {"slug":"section-about-taste","theme":"miyazakifarm","tagName":"section","className":"section"} /-->

<!-- wp:template-part {"slug":"section-about-us","theme":"miyazakifarm","tagName":"section","className":"section"} /-->

<!-- wp:template-part {"slug":"section-products","theme":"miyazakifarm","tagName":"section","className":"section"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"miyazakifarm","tagName":"footer","align":"full","className":"footer"} /--></div>
<!-- /wp:group -->