<!-- wp:template-part {"slug":"header","tagName":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main","className":"main","layout":{"inherit":false}} -->
<main id="main" class="wp-block-group main"><!-- wp:group {"tagName":"header","className":"pageHeader"} -->
<header class="wp-block-group pageHeader"><!-- wp:group {"className":"pageHeader__inner","layout":{"type":"default"}} -->
<div class="wp-block-group pageHeader__inner"><!-- wp:group {"className":"pageHeader__container","layout":{"type":"default"}} -->
<div class="wp-block-group pageHeader__container"><!-- wp:post-title {"className":"pageHeader__title"} /-->

<!-- wp:post-featured-image {"className":"pageHeader__image"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:shortcode -->
[breadcrumb]
<!-- /wp:shortcode --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"className":"main__body","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group main__body"><!-- wp:template-part {"slug":"content-products","area":"uncategorized","align":"full"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"footer"} /-->